/*  RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgb(110, 91, 82), rgb(129, 112, 79)), url("/images/background.jpg") ;
    background-blend-mode: screen;
    font-size: 130%;
}

body h1 , body h2, body h3 {
    font-family: var(--sans);
  }
body  p {
    font-family: var(--serif);
  }

li {
    list-style: none;
}
:root {
    --header-height: 4rem;
    --prod-display: 15svh;
    --max-width: 80%;
    --sans:  "Quattrocento Sans", sans-serif;
    --serif: "Cardo", serif;
    --red-origen: #A80D0D;
    --orange-origen: #F29B4E;
    --white-origen: aliceblue;
}


img {
    height: 10rem;
}
button {
    background: none;
    border: none;
}

html {
    scroll-snap-type: y mandatory;
}

.sans {
    font-family: "Quattrocento Sans", sans-serif;
}

.serif {
    font-family: "Cardo", serif;
}