<header class="header">
  <div class="header-wrapper">
    <div class="branding">
      <img src="@/assets/img/Isologo001.jpg" alt="">
      <div class="brand">
        <h3 >Origen</h3>
        <p>BY LONGOS</p>
      </div>
    </div>
    <nav class="nav">
      <li>Mayoristas</li>
      <li>Constacto</li>
    </nav> 
  </div>
</header>

<style>
  .header {
    height: var(--header-height);
    width: 100%;
    color: var(--white-origen);
    text-transform: uppercase;
    font-size: 90%;
    margin-block: auto;
    background-color: rgba(0, 0, 0, 0.60);
    position: sticky;
    top: 0;
    z-index: 99;
    scroll-snap-align: start;
  }
  .header-wrapper {
    height: 100%;
    max-width: var(--max-width) ;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .branding{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;  
  }
  .branding img {
    height: 2.8rem;
    border-radius: 50%;
  }
  .branding p {
    font-size: 50%;
    text-align: center;
  }
  .branding li {
    
    
  }
  .brand{

  }
  .nav{
    display: flex;
    align-items: center;
    gap: 1.4rem;
    font-weight: 600;
    font-family: var(--sans);
  }
</style>